h1 {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
}

.grid-container {
    max-width: 500px;
    max-height: 500px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}